    html,
    body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        height: 100%;
        background-color: rgb(25, 27, 28);
    }
    
    a {
        color: #00B7FF;
    }
    
    body {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        align-content: center;
    }
    
    .container-fluid {
        min-width: 1440px!important;
        width: 100%!important;
        padding: 0;
    }
    
    .container-fluid>.row {
        margin: 0
    }
    
    #video-section {}
    
    #button-container {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 400px;
        margin: auto;
    }
    
    #button-container a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        border-radius: 40px;
        font-size: 14px;
    }
    
    #login-container {}
    
    #main-container {
        display: none;
    }
    
    #login-container button {
        width: 100%
    }
    
    #login-container label {
        color: #fff;
        padding-top: 10px;
    }
    
    .video-item {
        width: 100%;
        height: 100%;
    }
    
    .refresh {
        color: #3bafda;
        text-align: center;
        cursor: pointer;
        float: right;
        font-size: 13px;
    }
    
    #video-container {
        width: 100%;
        height: 50vh;
        min-height: 400px;
        background-color: #000;
        margin: 0 auto;
        position: relative
    }
    
    #local-video {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        background: rgba(27, 25, 28, 1);
        /*transition: all 0.2s;*/
        top: 0;
        right: 0;
    }
    
    #remote-video {
        display: inline-block;
        position: absolute;
        width: 20%;
        height: 20%;
        margin: 0;
        top: 0;
        right: 0px;
        background: rgba(27, 25, 28, 1);
        /*transition: all 0.2s;*/
    }
    
    #local-video.viewMode {
        width: 20%;
        height: 20%;
        top: 0;
        right: 0;
        z-index: 2;
        transition: all 0.2s;
    }
    
    #remote-video.viewMode {
        width: 100%;
        height: 100%;
        transition: all 0.2s;
    }
    
    circle {
        fill: #666;
        fill-opacity: 0.6;
    }
    
    svg.on circle {
        fill-opacity: 0;
    }
    
    path.on {
        display: none;
    }
    
    path.off {
        display: block;
    }
    
    svg.on path.on {
        display: block;
    }
    
    svg.on path.off {
        display: none;
    }
    
    svg {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        /*box-shadow: 2px 2px 24px #444;*/
        display: block;
        margin: 0 0 3vh 0;
        display: inline-block;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    
    #button-container a:hover,
    #button-container a.on {
        background: #407cf7;
    }
    
    #button-container #hangup:hover {
        background: #dd2c00;
    }
    
    .reversal {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        bottom: 0;
    }
    
    .chat-box {}
    
    .history-msg {
        background: rgba(27, 25, 28, 1);
        overflow: auto;
        height: 300px;
        padding: 10px;
        color: #fff;
        margin-top: 20px;
        height: calc(33.5vh - 20px);
    }
    
    #chatroom .input-group {
        background: #3c3a3d;
        padding: 15px;
    }
    
    .list-group {
        max-height: calc(100vh - 300px);
        box-sizing: border-box;
        overflow: auto;
    }
    
    .list-group-item {
        background: transparent;
        border-top-color: transparent;
        border-bottom: 1px solid #333;
    }
    
    .list-group-item img {
        width: 100%
    }
    
    .flex-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        height: calc(100vh - 50px);
    }
    
    .navi {
        background: rgba(25, 25, 25, 1);
        color: rgba(30, 166, 100, 1);
        height: 50px;
        border-bottom: 2px solid #000;
    }
    
    .navi h1 {
        margin: 0;
        padding: 0;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        padding: 0 10px
    }
    
    .flex-item {
        flex-shrink: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        color: #fff;
    }
    
    .flex-item:nth-child(1) {
        width: 300px;
        background: rgba(27, 25, 28, 1);
    }
    
    .flex-item:nth-child(2) {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        background: rgba(35, 35, 35, 1);
        padding: 30px;
    }
    
    .flex-item:nth-child(3) {
        width: 280px;
        background: rgba(35, 35, 35, 1);
        border-left: 1px solid #333;
    }
    
    .logout-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
    #roomlist {
        position: relative;
        height: 100%;
    }
    
    #roomlist-box {
        position: absolute;
        top: 35px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
    }
    
    #roomlist-box>div {
        border-left: 4px solid transparent;
        border-bottom: 1px solid #333;
        padding: 10px;
    }
    
    #roomlist-box>div.spinner {
        border: 0
    }
    
    #roomlist-box>div:hover,
    #roomlist-box>div.active {
        border-left: 4px solid rgb(30, 166, 100)
    }
    
    video {
        background: #000
    }
    
    .tab-content {
        height: 100%;
        position: relative;
        padding-right: 0;
        height: calc(100% - 38px);
    }
    
    .nav-tabs {
        background: transparent;
        color: #fff
    }
    
    .nav-tabs>li {
        border: 0
    }
    
    .nav-tabs>li>a {
        color: #fff
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        background: transparent!important;
        color: rgba(30, 166, 100, 1);
        border-bottom: 2px solid rgba(30, 166, 100, 1);
    }
    
    .nav-tabs>li>a:focus,
    .nav-tabs>li>a:hover {
        background: transparent!important;
        color: rgba(30, 166, 100, 1);
        border-bottom: 2px solid rgba(30, 166, 100, 1);
    }